html {
    background-color: #1A1A1D;
}
body {
    background-color: #1A1A1D;
    width: 97%;
}

img {
    width: 100%;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

#title {
    background-color: #1A1A1D;
    color:#ECDFCC;
    text-align: center;
    font-family: "Orbitron", serif;
}

.list {
    column-count:4;
    background-color: #1A1A1D;

}

@media only screen and (max-width: 768px) {



    .list {

        grid-auto-rows: 200px;
        background-color: #1A1A1D; /* Set this as the background */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100vw;
    }

    .img {
        width: 100%;
        height: 100%;
        gap:5px;
      
    }

   
   
    
    /* Other mobile-specific styles */
}