html {
    background-color: #1A1A1D;
}
body {
    background-color: #1A1A1D;
    width: 97%;
}

img {
    width: 100%;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

#title {
    background-color: #1A1A1D;
    color:#ECDFCC;
    text-align: center;
    font-family: "Orbitron", serif;
}

.list {
    column-count:4;
    background-color: #1A1A1D;

}

@media only screen and (max-width: 600px) {


    
    /* Adjust styles for smaller screens */
    body {
      font-size: 16px; /* Reduce text size */
      padding: 10px;
    }
  
    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        background-color: #1A1A1D; /* Make sure this is correct */
    }
    
    .img {
      width: 100%; /* Make images responsive */
      height: auto;
    }

   
   
    
    /* Other mobile-specific styles */
}